<ion-header>

  <ion-navbar>
    <ion-title>Simulation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding no-border>
  <div style="width: 100%;height: 100%;display: block;background-color: #4483f2" #mainScreen>
    <renderer #renderer [width]="600" [height]="600" [onInit]="pixiInit">
    </renderer>
  </div>
</ion-content>
