<ion-header>
  <ion-navbar>
    <ion-title>
      Simulation
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="goToSim($event,'http://junglewar.test.rphstudio.net/jungle-war/websocket')">Go To Simulation</button>
  <button ion-button (click)="goToSim($event,'http://localhost:8080/jungle-war/websocket')">Go To Simulation (local)</button>
</ion-content>
